<ion-view view-title="{{view_title}}">
	<ion-content scroll="true">
<!-- 	{{job}} --> 
	<!-- <div class="im-wrapper"> Padded wrapper--> 
  <form>
    <!-- <ion-slide-box class="slider-box" pager-click="navSlide(index)" auto-play="false" does-continue="false"> -->
    <ion-slide-box show-pager="false" auto-play="false" does-continue="false" on-swipe-left="leftSwipe()" on-swipe-right="rightSwipe()" on-slide-changed="slideChanged(index)" dynamic-height>

 <ion-slide id="slide0">
    <div class="bar bar-form bar-stable static text-center">
      <strong class="title">Medical Survey Details</strong>
    </div>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Name of the Person</span>
        <input type="text" placeholder="Name of the Person" name="name" ng-model="survey.Name">
      </label>

        <label class="item item-input item-floating-label">
        <span class="input-label">Email of the Person</span>
        <input type="text" placeholder="Email " name="email" ng-model="survey.Email">
      </label>

      <label class="item item-input item-select">
        <span class="input-label">Gender</span>
        <!-- <input type="text" placeholder="Insurer" name="insurer" ng-model="survey.insurer"> -->
        <select name="gender" ng-model="survey.Gender">
          <option value="1"> Male</option> 
          <option value="2"> Female</option>
        </select>
      </label>
       <label class="item item-input item-select">
      <span class="input-label">Age</span>
        <select name="Insomnia" ng-model="survey.Insomnia.Age" ng-change="ComputeAgeScore()">
         <option ng-repeat= "age in ages" value="{{age}}">{{age}}</option> 
                   
        </select>
      </label>


    </div>
  </ion-slide>

  <ion-slide id="slide1">
    <div class="bar bar-form bar-stable static text-center">
      <strong class="title">Weight Readings</strong>
    </div>
    <div class="list">

   
  <!--ng-change="functionName()"  is required to invoke a function after a vlue is changed
    Inside the controller value would be accessible through the defined model ($scope.survey). So no need to pass a parameter -->
     <label class="item item-input item-select">
        <span class="input-label">Basic Metabolic Index (BMI) </span>
         <select name="Weight" ng-model="survey.Weight.BMI" ng-change="ComputeWeightScore()">
          <option value="1">10-15</option> 
           <option value="2">20-25</option> 
            <option value="3">25-30</option> 
             <option value="4">30-45</option> 
        </select>
      </label>

  </div>
</ion-slide>

<ion-slide id="slide2">

      <div class="bar bar-form bar-stable static text-center">
      <strong class="title">Hormonal Activity survey</strong>
      </div>
    <div class="list">

    <div class="item">
     Heart Disease
    </div>
      <label class="item item-input item-select">
        <span class="input-label">Do You have Heart Problem ?</span>
        <!-- <input type="text" placeholder="Insurer" name="insurer" ng-model="survey.insurer"> -->
        <select name="HeartDisease" ng-model="survey.HeartDisease" ng-change="ComputeHeartDiseaseScore()">
          <option value="1"> Yes</option> 
          <option value="2"> No</option>
          <option value="3"> Do Not Know</option>
            </select>
      </label>

      

      <div class="item">
     Mood Disorders
    </div>
          
      <label class="item item-input item-select">
        <span class="input-label">Do You Suffer from Mood Disorders ?</span>
        <!-- <input type="text" placeholder="Insurer" name="insurer" ng-model="survey.insurer"> -->
        <select name="MoodDisorder" ng-model="survey.MoodDisorder" ng-change="ComputeMoodDisorderScore()">
          <option value="1"> Yes</option> 
          <option value="2"> No</option>
          <option value="3"> Do Not Know</option>
            </select>
      </label>
      

      <div class="item">
     Insomnia
    </div>
          
       <label class="item item-input item-select">
        <span class="input-label">Do You Suffer from Insomnia?</span>
        <!-- <input type="text" placeholder="Insurer" name="insurer" ng-model="survey.insurer"> -->
        <select name="Insomnia" ng-model="survey.Insomnia" ng-change="ComputeInsomniaScore()">
          <option value="1"> Yes</option> 
          <option value="2"> No</option>
          <option value="3"> Do Not Know</option>
            </select>
      </label>
   
       
       <div class="item">
     Adrenal Fatigue
    </div>
          
       <label class="item item-input item-select">
        <span class="input-label">Do You Suffer from Adrenal Fatigue?</span>
        <!-- <input type="text" placeholder="Insurer" name="insurer" ng-model="survey.insurer"> -->
        <select name="Adrenal" ng-model="survey.Adrenal" ng-change="ComputeAdrenalScore()">
          <option value="1"> Yes</option> 
          <option value="2"> No</option>
          <option value="3"> Do Not Know</option>
            </select>
      </label>
   
      

      <div class="item">
     Osteoporosis
    </div>
          
       <label class="item item-input item-select">
        <span class="input-label">Do You Suffer from Osteoporosis?</span>
        <!-- <input type="text" placeholder="Insurer" name="insurer" ng-model="survey.insurer"> -->
        <select name="Osteoporosis"  ng-model="survey.Osteoporosis" ng-change="ComputeOsteoporosisScore()" >
          <option value="1"> Yes</option> 
          <option value="2"> No</option>
          <option value="3"> Do Not Know</option>
            </select>
      </label>
      

      <div class="item">
     Thyroid
    </div>
          
       <label class="item item-input item-select">
        <span class="input-label">Do You Suffer from Thyroid?</span>
        <!-- <input type="text" placeholder="Insurer" name="insurer" ng-model="survey.insurer"> -->
        <select name="Thyroid" ng-model="survey.Thyroid" ng-change="ComputeThyroidScore()">
          <option value="1"> Yes</option> 
          <option value="2"> No</option>
          <option value="3"> Do Not Know</option>
            </select>
      </label>
      
       
    </div>
  </ion-slide>

  <ion-slide id="slide3">
      <div class="bar bar-form bar-stable static text-center">
      <strong class="title">Physical Activity survey</strong>
    </div>
    <div class="list">

    <div class="item">
      Meditation
    </div>
  
     <label class="item item-input item-select">
        <span class="input-label">Frequency in Percentage</span>
         <select name="Meditation" ng-model="survey.Meditation.Frequency">
          <option ng-repeat= "fqn in frequencies" value="{{fqn}}">{{fqn}}</option> 
          
        </select>
      </label>
      
    <label class="item item-input item-select">
      <span class="input-label">Time in minutes</span>
       <select name="Meditation" ng-model="survey.Meditation.Time" ng-change="ng-change="ComputeMeditationScore()">
         <option ng-repeat= "fqn in frequencies" value="{{fqn}}">{{fqn}}</option> 
                   
        </select>
      </label>
    
    <div class="item">
      Physical Excersice
    </div>
       
        <label class="item item-input item-select">
          <span class="input-label">Frequency in Percentage</span>
           <select name="Physical Exercise" ng-init="0-10" ng-model="survey.PhysicalExercise.Frequency" >
            <option ng-repeat="frequency in frequencies" value="{{frequency}}">{{frequency}}
            </option> 
            </select>
        </label>

        <label class="item item-input item-select">
          <span class="input-label">Time[minutes]</span>
          <select name="Physical Exercise" ng-model="survey.PhysicalExercise.Time" ng-change="ComputePhysicalExerciseScore()">
           <option ng-repeat="frequency in frequencies" value="{{frequency}}">{{frequency}}</option> 
       </select>
        </label>
         <div class="item">
      Cycling
     </div>
          

      <label class="item item-input item-select">
      <span class="input-label">Frequency in Percentage</span>
        <select name="Cycling" ng-model="survey.Cycling.Frequency" ng-change="ComputeAgeScore()">
         <option ng-repeat="frequency in frequencies" value="{{frequency}}">{{frequency}}</option> 
          
        </select>
      </label>
      <label class="item item-input item-select">
        <span class="input-label">Time in minutes</span>
        <select name="Cycling" ng-model="survey.Cycling.Time">
         <option ng-repeat="frequency in frequencies" value="{{frequency}}">{{frequency}}</option> 
         </select>
      </label>
      <label class="item item-input item-select">
        <span class="input-label">Cycling</span>
        <select name="Cycling" ng-model="survey.Cycling" ng-change="ComputeCyclingScore()">
           <option ng-repeat="frequency in frequencies" value="{{frequency}}">{{frequency}}</option> 
        </select>
      </label>

       
         <div class="item">
      Yoga
    </div>
          <label class="item item-input item-select">
      <span class="input-label">Frequency in Percentage</span>
        <select name="Yoga" ng-model="survey.Yoga.Frequency">
           <option ng-repeat="frequency in frequencies" value="{{frequency}}">{{frequency}}</option> 
</select>
      </label>
      <label class="item item-input item-select">
        <span class="input-label">Time in [minutes]</span>
        <select name="Yoga" ng-model="survey.Yoga.Time" ng-change="ComputeYogaScore()>
           <option ng-repeat="frequency in frequencies" value="{{frequency}}">{{frequency}}</option> 
        </select>
      </label>
    <div class="item">
        Walking
    </div>
      <label class="item item-input item-select">
      <span class="input-label">Frequency in Percentage </span>
        <select name="Walking" ng-model="survey.Walking.Frequency">
          <option ng-repeat="frequency in frequencies" value="{{frequency}}">{{frequency}}</option> 
        </select>
      </label>
      <label class="item item-input item-select">
        <span class="input-label">Time in  minutes</span>
        <select name="Walking" ng-model="survey.Walking.Time" ng-change="ComputeWalkingScore()">
          <option ng-repeat="frequency in frequencies" value="{{frequency}}">{{frequency}}</option> 
        </select>
      </label>
      </div>
    </ion-slide>

    <ion-slide id="slide4">
    <div class="bar bar-form bar-stable static text-center">
      <strong class="title">Diet In TakePerDay Details</strong>
    </div>
    <div class="list">
       
       <label class="item item-input item-select">
        <span class="input-label">Sugary Drinks</span>
        <select name="Sugary" ng-model="survey.Sugary" ng-change="ComputeSugaryScore()">
         <option ng-repeat="sfrequency in sfrequencies" value="{{sfrequency}}">{{sfrequency}}</option> 
        </select>
      </label>
      
       <label class="item item-input item-select">
        <span class="input-label">Food Supliments </span>
        <select name="Supliments" ng-model="survey.Supliments" ng-change="ComputeSuplimentsScore()">
        <option ng-repeat="sfrequency in sfrequencies" value="{{sfrequency}}">{{sfrequency}}</option> 
        </select>
      </label>

      <label class="item item-input item-select">
        <span class="input-label">Alcohol Drinks </span>
        <select name="Alcohol" ng-model="survey.Alcohol" ng-change="ComputeAlcoholScore()">
        <option ng-repeat="sfrequency in sfrequencies" value="{{sfrequency}}">{{sfrequency}}</option> 
        </select>
      </label>

       <label class="item item-input item-select">
        <span class="input-label">Fatty Food Intake</span>
        <select name="Fatty" ng-model="survey.Fatty" ng-change="ComputeFattyScore()" >
         <option ng-repeat="sfrequency in sfrequencies" value="{{sfrequency}}">{{sfrequency}}</option> 
        </select>
      </label>
       
      </div>
    </ion-slide>

    <ion-slide id="slide5">
     <div class="bar bar-form bar-stable static text-center">
      <strong class="title">Blood Pressure Reading Details</strong>
    </div>
    <div class="list">
       <div class="item">
          Blood Pressure Readings 
    </div>

      <label class="item item-input item-select">
        <span class="input-label">SystolicReading  </span>
        <select name="Meditation" ng-change="ComputeLowBloodPressure()" ng-model="survey.BloodPressure.SystolicReading">
         <option value="1"> 70-90</option> 
          <option value="2">90-120</option>
          <option value="3">120-140</option> 
          <option value="4">140-190</option> 
        </select>
      </label>
  
      <label class="item item-input item-select">
        <span class="input-label">DiastolicReading </span>
        <select name="DiastolicReading" ng-change="ComputeHighBloodPressure()" ng-model="survey.BloodPressure.DiastolicReading">
        <option value="1"> 40-50</option> 
          <option value="2">60-80</option>
          <option value="3">80-90</option> 
          <option value="4">90-100</option> 
        </select>
      </label>

      <label class="item item-input item-select">
        <span class="input-label">isCaffeineConsumers </span>
        <select name="isCaffeineConsumers" ng-model="survey.BloodPressure.isCaffeineConsumers">
        <option value="1"> Yes</option> 
          <option value="2"> No</option>
        </select>
      </label>

       
      
       
      </div>
    </ion-slide>

    <ion-slide id="slide6">
    <div class="bar bar-form bar-stable static text-center">
      <strong class="title">Cholesterol Reading Details</strong>
    </div>
    <div class="list">
      

      <label class="item item-input item-select">
        <span class="input-label">LowDensityLipoProtein </span>
        <!-- <input type="text" placeholder="Insurer" name="insurer" ng-model="survey.insurer"> -->
        <select name="LowDensityLipoProtein" ng-change="ComputeAgeScore()" ng-model="survey.LowDensityLipoProtein">
          <option value="1">50-59</option> 
           <option value="2"> 60-130</option> 
          <option value="3">131-170</option>
               <!-- Normal = 2 , Range -->
        </select>
      </label>
  
     <label class="item item-input item-select">
        <span class="input-label">HighDensityLipoProtein </span>
        <!-- <input type="text" placeholder="Insurer" name="insurer" ng-model="survey.insurer"> -->
        <select name="HighDensityLipoProtein" ng-change="ComputeAgeScore()" ng-model="survey.HighDensityLipoProtein">
         <option value="1">15-34</option> 
           <option value="2"> 35-70</option> 
          <option value="3">70-170</option>
        </select>
      </label>
      
       <label class="item item-input item-select">
        <span class="input-label">VeryLowDensityLipoProtein in mg/dl </span>
        <!-- <input type="text" placeholder="Insurer" name="insurer" ng-model="survey.insurer"> -->
        <select name="VeryLowDensityLipoProtein" ng-change="ComputeAgeScore()" ng-model="survey.VeryLowDensityLipoProtein">
          <option value="1">02-07</option> 
           <option value="2"> 08-30</option> 
          <option value="3">31-100</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <span class="input-label">TotalCholesterol </span>
        <!-- <input type="text" placeholder="Insurer" name="insurer" ng-model="survey.insurer"> -->
        <select name="HormonalFactors" ng-model="survey.HormonalFactors" ng-change="ComputeAgeScore()" >
           <option value="2">11-29</option> 
           <option value="2">30-200</option> 
           <option value="1">201-300</option>
        </select>
      </label>

      <div class="item item-icon-left" ion-datetime-picker date monday-first ng-change="policyPeriodFromChange()" ng-model="survey.DateOfTest" ng-change="ComputeAgeScore()" >
        <i class="icon ion-calendar positive"></i>
        <small>DateOfTest:</small> 
        <strong>{{survey.DateOfTest| date: "dd-MM-yyyy"}}</strong>
      </div>

      </div>
    </ion-slide>

    </ion-slide-box> <!-- End Form slides -->
    
    <div class="button-bar">
    <button ion-item class="button icon-left ion-chevron-left button-light" ng-click="previous()" ng-hide="prevButton">Back</button>
    <button type="submit" class="button button-balanced" ng-click="ComputeScore(survey)" ng-show="submitButton">Submit</button>
    <button ion-item class="button icon-right ion-chevron-right button-light" ng-click="next()" ng-hide="nextButton">Next</button>
    </div>

  </form>
  <!-- </div>  Padded wrapper--> 
	</ion-content>
</ion-view>