<ion-view view-title="{{view_title}}">
	<ion-content scroll="true">
<!-- 	{{job}} --> 
	<!-- <div class="im-wrapper"> Padded wrapper--> 
  <form>
    <!-- <ion-slide-box class="slider-box" pager-click="navSlide(index)" auto-play="false" does-continue="false"> -->
    <ion-slide-box show-pager="false" auto-play="false" does-continue="false" on-swipe-left="leftSwipe()" on-swipe-right="rightSwipe()" on-slide-changed="slideChanged(index)" dynamic-height>

 <ion-slide id="slide0">
    <div class="bar bar-form bar-stable static text-center">
      <strong class="title">Medical Survey Details</strong>
    </div>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Name of the Person</span>
        <input type="text" placeholder="Name of the Person" name="name" ng-model="survey.name">
      </label>

      <label class="item item-input item-select">
        <span class="input-label">Gender</span>
        <!-- <input type="text" placeholder="Insurer" name="insurer" ng-model="survey.insurer"> -->
        <select name="gender" ng-model="survey.gender">
          <option value="1"> Male</option> 
          <option value="2"> Female</option>
        </select>
      </label>
  
     <label class="item item-input item-select">
        <span class="input-label">Weight (Kgs)</span>
        <!-- <input type="text" placeholder="Insurer" name="insurer" ng-model="survey.insurer"> -->
        <select name="weight" ng-model="survey.weight">
          <option value="40">40-50</option> 
          <option value="60">60-70</option>
          <option value="50">50-60</option> 
          <option value="50">50-60</option> 
          <option value="50">50-60</option> 
          <option value="50">50-60</option> 
        </select>
      </label>
      
       <label class="item item-input item-select">
        <span class="input-label">HormonalFactors</span>
        <!-- <input type="text" placeholder="Insurer" name="insurer" ng-model="survey.insurer"> -->
        <select name="hormonalfactors" ng-model="survey.hormonalfactors">
          <option value="1">Yes</option> 
          <option value="0">No</option>
          <option value="-1">Don't Know</option>
        </select>
      </label>
      </div>
         
                    
    </ion-slide>

    <ion-slide id="slide1">
      <div class="bar bar-form bar-stable static text-center">
      <strong class="title">Physical Activity Survey</strong>
    </div>
    <div class="list">
 
  
     <label class="item item-input item-select">
        <span class="input-label">Running [Time in Mintutes] </span>
         <select name="running" ng-model="survey.running">
          <option value="10">10</option> 
          <option value="20">20</option>
          <option value="20">20</option>
          <option value="20">20</option>
          <option value="20">20</option>
          <option value="20">20</option>
          <option value="20">20</option>
        </select>
      </label>
      
    <label class="item item-input item-select">
        <span class="input-label">Walking [Time in Mintutes]  </span>
        <select name="Yoga" ng-model="survey.Yoga">
         <option value="10">10</option> 
          <option value="20">20</option>
          <option value="20">20</option>
          <option value="20">20</option>
          <option value="20">20</option>
          <option value="20">20</option>
          <option value="20">20</option>
        </select>
      </label>

       <label class="item item-input item-select">
        <span class="input-label">Yoga</span>
        <select name="Yoga" ng-model="survey.Yoga">
          <option value="10">10</option> 
          <option value="20">20</option>
          <option value="20">20</option>
          <option value="20">20</option>
          <option value="20">20</option>
          <option value="20">20</option>
          <option value="20">20</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <span class="input-label">Jumping</span>
        <select name="Jumping" ng-model="survey.Jumping">
         <option value="10">10</option> 
          <option value="20">20</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <span class="input-label">Cycling</span>
        <select name="Cycling" ng-model="survey.Cycling">
         <option value="10">10</option> 
          <option value="20">20</option>
        </select>
      </label>

       <label class="item item-input item-select">
        <span class="input-label">Meditation</span>
        <select name="Meditation" ng-model="survey.Meditation">
         <option value="10">10</option> 
          <option value="20">20</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <span class="input-label">Hard Physical Exercises</span>
        <select name="hardphysical" ng-model="survey.hardphysical">
         <option value="10">10</option> 
          <option value="20">20</option>
        </select>
      </label>


      </div>
    </ion-slide>

    <ion-slide id="slide2">
    <div class="bar bar-form bar-stable static text-center">
      <strong class="title">Diet In TakePerDay Details</strong>
    </div>
    <div class="list">
       
  
       <label class="item item-input item-select">
        <span class="input-label">Sugary Drinks</span>
        <select name="Meditation" ng-model="survey.Meditation">
         <option value="10">10</option> 
          <option value="20">20</option>
        </select>
      </label>
      
       <label class="item item-input item-select">
        <span class="input-label">Food Supliments </span>
        <select name="Meditation" ng-model="survey.Meditation">
         <option value="10">10</option> 
          <option value="20">20</option>
        </select>
      </label>

         <label class="item item-input item-select">
        <span class="input-label">Alcohol Drinks </span>
        <select name="Meditation" ng-model="survey.Meditation">
         <option value="10">10</option> 
          <option value="20">20</option>
        </select>
      </label>

       <label class="item item-input item-select">
        <span class="input-label">Fatty Food Intake</span>
        <select name="Meditation" ng-model="survey.Meditation">
         <option value="10">10</option> 
          <option value="20">20</option>
        </select>
      </label>
       
      </div>
    </ion-slide>

    <ion-slide id="slide3">
     <div class="bar bar-form bar-stable static text-center">
      <strong class="title">Blood Pressure Reading Details</strong>
    </div>
    <div class="list">
      

      <label class="item item-input item-select">
        <span class="input-label">SystolicReading  </span>
        <select name="Meditation" ng-model="survey.Meditation">
         <option value="10">10</option> 
          <option value="20">20</option>
        </select>
      </label>
  
      <label class="item item-input item-select">
        <span class="input-label">DiastolicReading </span>
        <select name="Meditation" ng-model="survey.Meditation">
         <option value="10">10</option> 
          <option value="20">20</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <span class="input-label">isCaffeineConsumers </span>
        <select name="Meditation" ng-model="survey.Meditation">
         <option value="yes">Yes</option> 
          <option value="no">No</option>
        </select>
      </label>

       
      
       
      </div>
    </ion-slide>

    <ion-slide id="slide4">
    <div class="bar bar-form bar-stable static text-center">
      <strong class="title">Cholesterol Reading Details</strong>
    </div>
    <div class="list">
      

      <label class="item item-input item-select">
        <span class="input-label">LowDensityLipoProtein </span>
        <!-- <input type="text" placeholder="Insurer" name="insurer" ng-model="survey.insurer"> -->
        <select name="gender" ng-model="survey.gender">
          <option value="male"> Male</option> 
          <option value="male"> Female</option>
        </select>
      </label>
  
     <label class="item item-input item-select">
        <span class="input-label">HighDensityLipoProtein </span>
        <!-- <input type="text" placeholder="Insurer" name="insurer" ng-model="survey.insurer"> -->
        <select name="Weight" ng-model="survey.Weight">
          <option value="50">50-60</option> 
          <option value="60">60-70</option>
        </select>
      </label>
      
       <label class="item item-input item-select">
        <span class="input-label">VeryLowDensityLipoProtein </span>
        <!-- <input type="text" placeholder="Insurer" name="insurer" ng-model="survey.insurer"> -->
        <select name="HormonalFactors" ng-model="survey.HormonalFactors">
          <option value="yes">Yes</option> 
          <option value="no">No</option>
          <option value="no">Don't Know</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <span class="input-label">TotalCholesterol </span>
        <!-- <input type="text" placeholder="Insurer" name="insurer" ng-model="survey.insurer"> -->
        <select name="HormonalFactors" ng-model="survey.HormonalFactors">
          <option value="yes">Yes</option> 
          <option value="no">No</option>
          <option value="no">Don't Know</option>
        </select>
      </label>

      <div class="item item-icon-left" ion-datetime-picker date monday-first ng-change="policyPeriodFromChange()" ng-model="survey.DateOfTest">
        <i class="icon ion-calendar positive"></i>
        <small>DateOfTest:</small> 
        <strong>{{survey.DateOfTest| date: "dd-MM-yyyy"}}</strong>
      </div>

      </div>
    </ion-slide>

    </ion-slide-box> <!-- End Form slides -->
    
    <div class="button-bar">
    <button ion-item class="button icon-left ion-chevron-left button-light" ng-click="previous()" ng-hide="prevButton">Back</button>
    <button type="submit" class="button button-balanced" ng-click="save(survey)" ng-show="submitButton">Submit</button>
    <button ion-item class="button icon-right ion-chevron-right button-light" ng-click="next()" ng-hide="nextButton">Next</button>
    </div>

  </form>
  <!-- </div>  Padded wrapper--> 
	</ion-content>
</ion-view>