/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */

.scroll {
    height: 100%;
}
 
#map {
	min-height: 8em !important;
    width: 100%;
    height: 100%;
}
.item-floating-label .input-label {
	padding: 2px 0 0 0;
}
.input-label {
	font-size: 14px;
	font-weight: bold;
  width: 0%;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	height: 30px !important;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 12px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   font-size: 12px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   font-size: 12px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   font-size: 12px;
}
/*Modified bar adove the forms*/
.bar-form {
  position: relative;
  
}

.title:first-letter{
  text-transform:capitalize;
}

.large-text {
  min-height: 100px !important;
}

.slider-slide {
    height: auto;
}
.warning {
  background-color: #ff0000;
  color: #fff;
}

.ion-datetime-picker .calendar .day.selected, .ion-datetime-picker .calendar .day.selected:hover, .ion-datetime-picker .calendar .day.selected.activated {
  border-color: #28a54c;
  background-color: #28a54c;
  background-image: linear-gradient(0deg, #28a54c, #28a54c 50%, transparent 50%);
}


.loading{
  background-color: rgba(56, 126, 245, 0.8) !important;
  color: #fff !important;
}

.spinner.light svg {
  stroke: #fff !important;
  fill: #fff !important;
}

.row{
  flex-wrap: wrap;
}

.part-list {
  
}